@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fore: #FFFFFF;
    --back: #17191B;
}

.top-div-spacer { 
    height: 40vh; 
}

.three-canvas-wrapper { 
    height:100%; 
}

.katex-display { 
    color: var(--fore)
}